.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: var(--border-radius);
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(187, 187, 187, 0.5);
    }

    100% {
        background-color: rgba(187, 187, 187, 0.169);
    }
}