.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: var(--border-radius);
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 2%, 27%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}